@{
    ViewBag.Title = "Home Page";
}
        <div align="center">
            <h1>PWE: <small>PIM Web Extracts</small></h1><br />
            <table>
                <tr>
                    <td>

                        <p><a href="~/Reports/Reports" class="btn btn-primary btn-lg active" role="button">Reports</a> Choose a report and extract data from PIM.</p>
                    </td>
                </tr>
                <tr>
                    <td>

                        <p> <p><a href="~/Reports/LookupTables" class="btn btn-primary btn-lg active" role="button">Lookup Tables</a> Display Lookup Tables and IDs.</p>
                    </td>
                </tr>
            </table>
        </div>

